Package: com.nathanaccidentally.systemhostsblocker
Name: System Hosts Blocker
Version: 1.4.2
Architecture: iphoneos-arm
Pre-Depends: dpkg (>= 1.13.25-5)
Depends: com.nathanaccidentally.mdnsflush, sudo
Description: A fast and lightweight ad blocker.
Depiction: https://nathanaccidentally.github.io/depic/systemhosts/index.html
Maintainer: nathanaccidentally <nathanaccidentally@gmail.com>
Author: nathanaccidentally <nathanaccidentally@gmail.com>
Section: Tweaks
